div#header-el{
    grid-area: header;
}

div#content-div{
    grid-area: main
}

div#about-div{
    grid-area: sidebar
}

div#links-div{
    grid-area: footer
}

div.container{
    display: grid;
    height: auto;
    width: auto;   
    grid-template-columns: 300px 300px 300px 300px ;
    grid-gap: 20px;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "main main main sidebar"
    "footer footer footer footer"
}

.div-background{
    background-color: #BF8A94;
}